
.idea/
.idea/*
frontend/node_modules
backend/venv/
backend/instance
backend/instance/app.db
backend/__pycache__/
venv/
*.tfstate
*.tfstate.backup
.terraform/
terraform/terraform.tfvars
terraform/.terraform.lock.hcl
.helmlock

backend/*.pyc              # Kompilierte Python-Dateien
backend/*.pyo              # Optimierte Python-Dateien
backend/.pytest_cache/     # Pytest-Cache-Dateien
backend/.mypy_cache/       # MyPy Type Checking Cache

backend/.env
backend/.flaskenv

backend/*.sqlite3
backend/*.db

frontend/node_modules/      # Abhängigkeiten von npm/yarn
frontend/.npm/             # npm Cache
frontend/.cache/           # Build-Cache von npm/yarn
frontend/build/            # Build-Ordner (wird lokal generiert)
frontend/dist/             # Falls du Webpack verwendest
frontend/.parcel-cache/    # Falls du Parcel verwendest
frontend/.next/            # Falls du Next.js verwendest

frontend/package-lock.json
frontend/yarn.lock

frontend/jest.config.js
frontend/src/setupTests.js
frontend/src/reportWebVitals.js
frontend/src/App.test.js    # Testdatei, falls du keine Tests nutzt



.idea/*                    # Falls .idea/ doch schon getrackt wurde
.vscode/                   # VS Code-Projektordner
.DS_Store                  # macOS Datei
Thumbs.db                  # Windows Datei

frontend/.gitignore        
